<div class="container pt-5">
  <h2 class="text-center">Registro de Equipos de Vóley</h2>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Monto Compartido</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="precio" class="form-label">Cancha/Palos</label>
            <input type="number" class="form-control" id="precio" [(ngModel)]="precio" name="precio" />
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Cerrar
          </button>
          <button type="button" class="btn btn-primary" (click)="saveSerie()">
            Guardar Serie
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModal2Label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content text-black">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModal2Label">Instrucciones</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <ol>
            <li>&nbsp;Arma los equipos con las listas que dicen <b class="text-danger">--Select a player--</b></li>
            <li>&nbsp;Ingresa el monto apostado y el ganador del partido</li>
            <li>&nbsp;Guarda el partido, dando click en el boton <b class="text-danger">Guardar Partido</b></li>
            <li>&nbsp;Repite el paso 3 hasta que termines de registrar todos los partidos que se jugaron</li>
            <li>&nbsp;Finaliza la serie dando click en el boton <b class="text-danger">Finalizar Serie</b></li>
            <li>&nbsp;Ingresar el monto de la cancha o los palos, este monto se repartira a todos los jugadores</li>
            <li>&nbsp;Guarda la serie dando click en el boton <b class="text-danger">Guardar Serie</b></li>
          </ol>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Cerrar
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Formulario para ingresar los partidos -->
  <form>
    <!-- Partido 1 -->
    <div class="mb-4">
      <div class="row d-flex justify-content-center align-items-end">
        <!-- Monto Apostado -->
        <div class="mb-3 col-6 col-md-3">
          <label for="monto" class="form-label">Apuesta</label>
          <input type="number" class="form-control" id="monto" placeholder="Monto apostado" [(ngModel)]="monto"
            name="monto" required />
        </div>

        <!-- Team winner -->
        <div class="mb-3 col-6 col-md-3">
          <label for="winner" class="form-label">Ganador</label>
          <select class="form-select" [(ngModel)]="winner" name="winner">
            <option value="0">--Select a winner--</option>
            <option value="1">Team 1</option>
            <option value="2">Team 2</option>
          </select>
        </div>

        <div class="mb-3 col-md-6 d-flex justify-content-end">
          <button type="button" class="btn btn-warning me-2" data-bs-toggle="modal" data-bs-target="#exampleModal2">
            Instrucciones
          </button>
          <button type="submit" class="btn btn-primary" (click)="saveGame()">
            Guardar Partido
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6 mb-3">
          <h4 class="mb-3">Equipo 1</h4>
          <!-- Equipo 1 -->
          <select class="form-select mb-3" [(ngModel)]="selectedPlayerId" name="selectedPlayerId"
            (change)="addPlayerToTeam(1)">
            <option value="0">--Select a player--</option>
            @for (player of players; track player.id) {
            <option value="{{ player.id }}">{{ player.name }}</option>
            }
          </select>
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">Equipo 1</li>
            @for (team of team1; track team.id) {
            <li class="list-group-item d-flex justify-content-between align-items-center">{{ team.name }}
              <i class="bi bi-x-circle text-danger" (click)="removePlayerFromTeam(team.id,1)"
                style="cursor: pointer;"></i>
            </li>
            }@empty {
            <li class="list-group-item">Equipo vacio</li>
            }
          </ul>
        </div>
        <div class="col-12 col-md-6 mb-3">
          <h4 class="mb-3">Equipo 2</h4>
          <!-- Equipo 1 -->
          <select class="form-select mb-3" [(ngModel)]="selectedPlayerId" name="selectedPlayerId"
            (change)="addPlayerToTeam(2)">
            <option value="0">--Select a player--</option>
            @for (player of players; track player.id) {
            <option value="{{ player.id }}">{{ player.name }}</option>
            }
          </select>
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">Equipo 2</li>
            @for (team of team2; track team.id) {
            <li class="list-group-item d-flex justify-content-between align-items-center">{{ team.name }}
              <i class="bi bi-x-circle text-danger" (click)="removePlayerFromTeam(team.id,2)"
                style="cursor: pointer;"></i>
            </li>
            }@empty {
            <li class="list-group-item">Equipo vacio</li>
            }
          </ul>
        </div>
      </div>
      <div>
        @if (serie.games.length > 0) {
        <div class="pb-3">
          <button type="button" class="btn btn-primary me-2" data-bs-toggle="modal" data-bs-target="#exampleModal1">
            Finalizar Serie
          </button>
          <button type="button" class="btn btn-success me-2" (click)="exportTableAsImage()">
            Descargar Excel
          </button>
        </div>
        <div class="table-responsive">
          <table class="table  table-striped" id="tableExport">
            <thead>
              <tr>
                <th>Jugador</th>
                @for (game of serie?.games; track game.id) {
                <th>{{ game.detail }}
                  <i class="bi bi-trash" (click)="removeGame(game.id)" style="cursor: pointer; color: red;"></i>
                </th>
                }
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              @for(player of allPlayers; track player.id){
              <tr>
                <td>{{ player.name }}</td>
                @for (game of games; track game.detail) {
                <td>
                  @if (getPlayerPrice(game.players, player.id) !== null) {
                  <span [ngClass]="priceStyle(getPlayerPrice(game.players!, player.id!) ?? 0)">
                    {{
                    getPlayerPrice(game.players, player.id) | number : "1.2-2"
                    }}
                  </span>
                  } @else {
                  <span>-</span>
                  }
                </td>
                }
                <td class="fw-bold" [ngClass]="priceStyle(calcularTotalJugador(player.id))">
                  {{ calcularTotalJugador(player.id) | number : "1.2-2" }}
                </td>
              </tr>
              }
            </tbody>
          </table>
        </div>
        }
      </div>
    </div>
  </form>
</div>