html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url(../../public/bg.png);
    background-size: cover;
    background-position-x: center;
    color: white;
  }
  
  body {
    background-color: #80808052;
  }